/* Activity Gallery */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery-item {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 8px;
    background-color: #F4F1DE;
    width:100%;
    aspect-ratio:1/1;
}

.gallery-item:hover {
    transition: background-color 300ms ease;
    background-color: var(--secondary-color);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 97px;
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr 1fr;
        margin-top: 63.4px;

    }
}


