/* Chips Styles */
.chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 1rem 0;
    overflow: hidden;
}

.chip {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background-color: var(--light-bg);
    color: var(--text-color);
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.6;
    transition: all 0.3s ease;
    white-space: normal;
    overflow: hidden;
}


/* Responsive Design for Chips */
@media (max-width: 768px) {
    .chips-container {
        gap: 0.3rem;
        margin: 0.8rem 0;
    }
    
    .chip {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }
}
