/* Contact Section */
.contact-layout {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

.contact-image {
    flex: 0 0 auto;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-image img {
    width: 75%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.contact-text {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contact-text h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

.map-container {
    flex: 1;
    min-height: 400px;
    position: relative;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact-info {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.contact-info p {
    margin-bottom: 1.5rem;
}

.contact-info p:last-child {
    margin-bottom: 0;
}

/* Contact Cards */

#contact-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: var(--nav-height);

}


.contact-card {
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--light-bg);
    transition: all 0.3s ease;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    height: 100%;
}

.contact-card-primary {
    background-color: var(--primary-color);
}

.contact-card-title {
    line-height: 1.2;
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
}
.contact-card-primary .contact-card-title,
.contact-card-primary .contact-card-text {
    color: white;
}

.contact-card-text {
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
    line-height: 1.6;
    color: var(--text-color);
}



.contact-card-action {
    margin-top: 1rem;
}

.contact-card-primary .contact-card-action .action-button-primary {
    background-color: white;
    color: var(--primary-color);
}

.contact-card-primary .contact-card-action .action-button-primary:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--primary-color);
}

/* Responsive Design for Contact Cards */
@media (max-width: 1024px) and (min-width: 769px) {
    .contact-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #contact-content {
        margin-top: calc(var(--nav-height) + 1rem);
        padding-top: 2rem !important;
    }
}

@media (max-width: 768px) {
    .contact-card {
        padding: 1rem;
    }

    #contact-content {
        padding-top: 2rem !important;
    }
}

