/* Hero Section */
#home-section {
    padding: 0;
    margin-top: var(--nav-height);
    min-height: calc(100vh - var(--nav-height));
    box-sizing: border-box;
    overflow: visible;
}

.section.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.hero-section .container {
    width: 50vw;
    padding: 4rem 2rem;
}

.hero {
    text-align: center;
    padding: 4rem 2rem;
    background: url('../../assets/images/main_bg.jpg') center center / cover no-repeat;
    color: white;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.hero-text {
    align-self: flex-start;
}

.hero h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1.5rem;
    color: white;
}

.hero .subtitle {
    font-weight: 200;
    font-size: 1.75rem;
    opacity: 0.75;
    text-align: left;
    overflow: hidden;
}


@media (max-width: 1023px) and (min-width: 768px) {
    #home-section {
        padding: 0;
        min-height: 70vh;
        box-sizing: border-box;
        overflow: visible;
    }

    .hero {
        min-height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/* Responsive Design for Hero */
@media (max-width: 768px) {
    #home-section {
        padding: 0;
        min-height: 50vh;
        box-sizing: border-box;
        overflow: visible;
    }

    .hero {
        min-height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .hero h1 {
        font-size: 2rem;
    }

    .hero .subtitle {
        font-size: 1rem;
        line-height: 1.25;
        font-weight: 300;
    }

    .section {
        padding: 3rem 1rem;
    }
}

