/* News Section */
.news {
    margin-bottom: 3rem;
}

.news ul {
    list-style: none;
}

.news li {
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
}

.news li:last-child {
    border-bottom: none;
}

.date {
    color: var(--secondary-color);
    font-weight: 600;
    margin-right: 1rem;
}

